.header{
    width: 1320px;
    height: 600px;
    background: url('../Banner\ Image.png');
    text-align: center;
    margin: auto;
}
.header-text{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
.h2{
    margin: 10px;
    border-color: black 50%;
}
.h1{
    margin: 10px;
    border-color: black;
}
.title{
    padding-top: 48px;
}
.off{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}
.our{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.all{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.photo{
    width: 802.9px;
    height: 500px;
    background: url('../New\ Year\ Photo.png');
    margin: auto;
}

.bgp{
    width: 1320px;
    height: 600px;
    margin: auto;
    background: url('../Vectorrr.png');

}
.hh1{
    margin: 10px;
    text-align: left;
    width: 642px;
    color: #FFF;
    font-size: 64px;l;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding: 126px 0px 24px 126px;
}

.hh2{
    padding: 24px 0px 0px 126px;
    margin: 10px;
    text-align: left;
    width: 697px;
    color: #474747
    font-size: 150px;
    font-weight: 400;
    
}
.btn-primery{
    border-radius: 5px;
    background-color: #070211;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin: 10px;

}
.bc{
    background-color: pink;
    width: 1320px;
    height: 482px;
    text-align: center;
    margin: auto;
}
.ts{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
}
.btn{
    border-radius: 5px;
    background-color: #F00;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.bw{
    width: 1600px;
    height: 7335px;
    background: #FFF;
}